body{
    background-color: #8b9914e3;
}
.box{
    height: 250px;
    width: 250px;
    background-color: #f39200;
    border-style:solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 50px;
    /* margin-right:auto;
    margin-left:auto;  */
}