#body{
    background: #000;

}
.h{
    background:#e9a70f;
    color: #702222;
    font-family:"Doto";
    font-size: 5cap;
    font-style:italic;
    text-decoration: solid;
    font-weight: 9000;
}
.p{
     background:#e9a70f;
    color: #702222;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style:italic;
    text-decoration: solid;
    font-weight: 50;
}